{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        {% for hood in hoods %}
        <div class="col-md-4">
            <div class="card mb-4">
                
                <h3>name: {{hood.name}} </h3>
                <p>location:{{hood.location}}</p>
                <img class="" src="{{hood.hood_logo.url}}" alt="Card image cap" style="height: 250px;">
                

                {%if request.user.profile.neighbourhood == hood %}

                <a class="btn btn-info btn-small" href="{%url 'singlehood' hood.id%}">View Hood</a>
                <a class="btn btn-danger" href="{%url 'leavehood' hood.id%}">Leave Hood</a>

                {%elif not request.user.profile.neighbourhood%}


                <a class="btn btn-info" href="{%url 'joinhood' hood.id%}">Join Hood</a>

                {%endif%}
            </div>

        </div>
        {% endfor %}

    </div>
</div>

{% endblock %}